@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
ul{
  margin: 0 !important;
  padding-left: 0 !important;
}
p{
  margin: 0;
}
a{
  color: inherit !important;
  text-decoration: none !important;
}
html, body{
    font-size: 100%;
    font-family: 'Noto Sans KR', sans-serif; 
}
.pt-1{
  padding-top: 10px !important;
}
.pt-2{
  padding-top: 20px !important;
}
.pt-3{
  padding-top: 30px !important;
}
.pt-4{
  padding-top: 40px !important;
}
.pt-5{
  padding-top: 50px !important;
}
.pt-6{
  padding-top: 60px !important;
}
.pt-7{
  padding-top: 70px !important;
}
.pt-8{
  padding-top: 80px !important;
}
.pt-9{
  padding-top: 90px !important;
}
.pt-10{
  padding-top: 100px !important;
}






.pb-1{
  padding-bottom: 10px !important;
}
.pb-2{
  padding-bottom: 20px !important;
}
.pb-3{
  padding-bottom: 30px !important;
}
.pb-4{
  padding-bottom: 40px !important;
}
.pb-5{
  padding-bottom: 50px !important;
}
.pb-6{
  padding-bottom: 60px !important;
}
.pb-7{
  padding-bottom: 70px !important;
}
.pb-8{
  padding-bottom: 80px !important;
}
.pb-9{
  padding-bottom: 90px !important;
}
.pb-10{
  padding-bottom: 100px !important;
}
a{
    color: inherit;
}
.main-menu>li{
    color: #fff;
    font-size: 1rem;
}


header{
    width: 100%;
    background: #0b0b0b;
    display: flex;
    position: fixed;
    z-index: 9999999999;
}
.header{
    width: 100%;
    display: flex;
    background: #0b0b0b;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}
.main-menu{
    display: flex;
    padding: 22px 0;
}
.logo{
    padding: 14px 0;
}
.main-menu>li+li{
    margin-left: 50px;
}
.pl-0{
  padding-left: 0 !important;
}
.pr-0{
  padding-right: 0 !important;
}

.total-bg{
  background-image: url(../images/total-bg.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-color-black{
  background-color: #181818 !important;
}

.bg-1{
    width: 62%;
    height: 70vh;
    background-image: url(../images/genesis-main-keyvisual-g80-sport-main-hero-desktop-2560x900-kr.jpg);
    background-size: cover;
    background-position: center ;
    position: relative;
}





.sec-1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    background: #000;
}
.bg-1-text{
    position: absolute;
    left: -60px;
    top: 20%;
}
.bg-1-text>h1{
    font-size: 7.5rem;
    color: #fff;
    font-weight: 500;
}
.bg-1-text>p{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
    padding-bottom: 8%;
    padding-top: 2%;
}

@media(max-width:991px){
  .prev{
    top: 80% !important;
  }
}

.btn{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff !important;
    padding: 18px 80px;
    transition: 0.3s;
}
.btn:hover{
    background-color: #e21a22;
    border:1px solid #e21a22;
}
.prev{
    position: absolute;
    top: 50%;
    color: #fff;
    left: 0;
}
.prev>p{
    margin-left: 90px;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}
.prev::before{
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 1px;
    background-color: #fff;
    content: "";
    top: 45%;
    left: 0;
}
.next{
    position: absolute;
    top: 50%;
    color: #fff;
    right: 0;
}
.next>p{
    margin-right: 90px;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}
.next::before{
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 1px;
    background-color: #fff;
    content: "";
    top: 45%;
    right: 0;
}

@-webkit-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

.mouse-scroll{
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7F8C8D;
    color: #FFF;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    margin-top: 10%;
    text-decoration: none;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    opacity: 0.5;
}
  
.mouse-scroll .mouse{
    position: relative;
    display: block;
    width: 46px;
    height: 73px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #FFF;
    border-radius: 23px;
}
    
.mouse-scroll .mouse .mouse-movement{ 
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #FFF;
    border-radius: 50%;
    -webkit-animation: scroll-ani 4s linear infinite;
    -moz-animation: scroll-ani 4s linear infinite;
    animation: scroll-ani 4s linear infinite;
}

.mouse-scroll  .mouse-message{ 
    float: left;
    margin: 0 0 0 7px;
    padding: 0;
    -webkit-animation: scroll-ani 4s linear infinite;
    -moz-animation: scroll-ani 4s linear infinite;
    animation: scroll-ani 4s linear infinite;
}

.content-img-text>h3{
  color: #fff;
  font-weight: 300;
  font-size: 1.125rem;
}
.content-img-text>h1{
  color: #ad7b61;
  font-weight: 300;
  font-size: 1.875rem;
}
.content-img-text>p{
  color: #cccccc;
  font-weight: 300;
  font-size: 1rem;
}

.content-img>img{
  width: 100%;
}

.content-img-text{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content-img-text-box{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
  align-items: center;
}

@media(min-width:768px){
  .content-img-text-box{
    border-bottom: 1px solid #fff;
    }
}
@media (max-width:768px) {
  .content-img-text-box{
    text-align: center;
    }
}
.p{
  color: #999999 !important;
  font-size: 0.75rem !important;  
  margin: 0 !important;
  padding: 0 !important;
}

@media(max-width:991px){
  .media-flex-column-reverse{
    flex-direction: column-reverse;
  }
  .media-display-flex{
    display: flex;
  }
}

.slide-img-1{
  background-image: url(../images/silde-1.jpg);
  width: 100%;
  height: 92vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.slide-img-2{
  background-image: url(../images/silde-2.jpg);
  width: 100%;
  height: 92vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.slide-img-3{
  background-image: url(../images/silde-3.jpg);
  width: 100%;
  height: 92vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.slide-img-4{
  background-image: url(../images/silde-4.jpg);
  width: 100%;
  height: 92vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.slide-img-5{
  background-image: url(../images/silde-5.jpg);
  width: 100%;
  height: 92vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.swiper-slide{
  width: 100% !important;
}

@media(max-width:991px){
  .content-img-text-box{
    padding: 20px 0;
  }
}

.xi-angle-left, .xi-angle-right{
  color: #fff;
  font-size: 50px;
  z-index: 99999999999999999;
  top: 50%;
  position: absolute;
}
.xi-angle-left{
  left: 20px;
}
.xi-angle-right{
  right: 20px;
}

.slide-text-box>h1{
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
}
.slide-text-box{
  position: absolute;
  left: 10%;
  top: 10%;
}
.top-text{
  text-align: center;
  background-color: #000;
  color: #fff;
  width: 100%;
}
.top-text>h1{
  display: inline-block;
  background-color: #000;
  padding: 2% 0;
  font-weight: 200;
}

.toggle-btn{
  font-size: 40px;
  color: #fff;
  display: none;
}

@media(max-width:768px){
  .header{
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: flex-start;
  }
  .header>.logo{
    padding-left: 10px;
  }
  .main-menu{
    flex-direction: column;
    display: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
  }
  .main-menu>li+li{
    margin: 0;
  }
  .main-menu>li{
    padding: 10px 0;
  }
  .toggle-btn{
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  .main-menu.active{
    display: flex;
  }
}

.design-start{
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
}

.design-start-text{
  position: absolute;
  left: 6%;
  top: 40%;
  max-width: 680px;
}

.design-start-text::before{
  width: 1px;
  opacity: 0.5;
  height: 50px;
  background-color: #fff;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}

.design-start-text>h1{
  font-weight: 100;
  font-size: 11.25rem;
  color: #ad7b61;
}
.design-start-text>p{
  font-weight: 300;
  letter-spacing: 0.1;
  line-height: 1.7;
  padding-left: 20px;
  color: #fff;
  font-size: 1rem;
}

@media(max-width:991px){
  .design-start-text>p{
    font-size: 16px;
  }
  .design-start-text>h1{
    font-size: 100px;
  }
}

@media(max-width:768px){
  .design-start-text>p{
    font-size: 14px;
  }
  .design-start-text>h1{
    font-size: 100px;
  }
}
@media(max-width:415px){
  .design-start-text>p{
    padding: 0;
  }
  .design-start-text{
    text-align: center;
    left: 0;
    right: 0;
  }
  .design-start-text::before{
    display: none;
  }
}

.content-img>video{
  width: 100%;
}

.safety-slide-img-1{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}
.safety-slide-img-2{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: none;
}
.safety-slide-img-3{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: none;
}

.safety-slide-text-box{
  position: absolute;
  top: 63%;
  left: 8%;
}

.safety-slide{
  position: relative;
}

.safety-slide-text>h1{
  font-size: 54px;
  color: #ad7b61;
  font-weight: 300;
}

.safety-slide-text>p{
  color: #fff;
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
}

.safety-slide-menu{
  position: absolute;
  bottom: 10%;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  width: 60%;
  left: 7%;
}

.safety-slide-menu::before{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.safety-slide-menu>li{
  color: #fff;
  font-size: 14px;
  display: block;
}

